# # What is Normalisation?

In [1]:
## Normalisation of data is basically scaling of data. Which is commonly scaled between 0 and 1

### Why Normalise 
It is observed that machine learning algorithm tends to perform better and converge faster when the data are of smaller scale.
So, It is always recommended and It is common practice to normalise your data.
Once you have normalised your data then you can build model.

Noramalisation decreases the senstivity to the scale of the features resulting in better results after training

Formula for normalisation is given below

Xnorm = (X-Xmin)/(Xmax-Xmin)

Just subtract the the data point with min of all the data point and then divide the result with the difference with the maximum and minimum of all data points.

### Normalisation of data using sklearn

In [5]:
from sklearn import preprocessing
import numpy as np

In [7]:
x=np.linspace(10, 100, 10)
x

array([ 10.,  20.,  30.,  40.,  50.,  60.,  70.,  80.,  90., 100.])

linspace(a,b,size) is used to array which starts with a and ends on b with total number of elements equal to size.

Now, Let's Normalise the array x that we have created just above.

In [12]:
normalized_x=preprocessing.normalize([x])
normalized_x

array([[0.05096472, 0.10192944, 0.15289416, 0.20385888, 0.2548236 ,
        0.30578831, 0.35675303, 0.40771775, 0.45868247, 0.50964719]])

#### Boom!! Array has been normalized
You can see that every element in the normalized array has been rescaled between zero to one.

## Another way to Normalize Data in python by using MinMaxScaler() 
MinMaxScaler() is also provided by sklearn. It is also good to know here what MinMaxScaler gives us an option to rescale data in the choice of our range. That is suppose you want to rescale your data points between 0 to 4(say) then you can easily do it by using MinMaxScaler. <br>
Let's implement it

In [19]:
from sklearn import preprocessing 
import pandas as pd

In [20]:
data = pd.read_csv("restaurent.csv")
data

     food  decor  service  price
0    18.0   22.0     17.0   41.0
1    24.0   22.0     22.0   54.0
2    18.0   17.0     14.0   32.0
3    18.0    9.0     13.0   20.0
4    21.0   12.0     16.0   25.0
..    ...    ...      ...    ...
109  20.0   21.0     18.0   40.0
110  18.0   14.0     16.0   30.0
111  17.0   17.0     18.0   34.0
112  20.0   22.0     21.0   51.0
113  19.0   14.0     15.0   23.0

[114 rows x 4 columns]

In [21]:
normalizer=preprocessing.MinMaxScaler(feature_range=(0,1))
col_name=data.columns
d=normalizer.fit_transform(data)
normalized_data=pd.DataFrame(d,columns=col_name)
normalized_data

         food     decor  service     price
0    0.307692  0.769231   0.4375  0.555556
1    0.769231  0.769231   0.7500  0.796296
2    0.307692  0.576923   0.2500  0.388889
3    0.307692  0.269231   0.1875  0.166667
4    0.538462  0.384615   0.3750  0.259259
..        ...       ...      ...       ...
109  0.461538  0.730769   0.5000  0.537037
110  0.307692  0.461538   0.3750  0.351852
111  0.230769  0.576923   0.5000  0.425926
112  0.461538  0.769231   0.6875  0.740741
113  0.384615  0.461538   0.3125  0.222222

[114 rows x 4 columns]

### Boom!! Normalization done using MinMaxScaler()
Note: The beauty of the approach is that we can normalize all the columns in one go.

## Let's Normalise the data in range of our choice
This will be done with the help of MinMaxScaler only but this time we will change the feature_range to, say, (0,3)

In [23]:
from sklearn import preprocessing 
import pandas as pd

In [24]:
data2 = pd.read_csv("restaurent.csv")
data

     food  decor  service  price
0    18.0   22.0     17.0   41.0
1    24.0   22.0     22.0   54.0
2    18.0   17.0     14.0   32.0
3    18.0    9.0     13.0   20.0
4    21.0   12.0     16.0   25.0
..    ...    ...      ...    ...
109  20.0   21.0     18.0   40.0
110  18.0   14.0     16.0   30.0
111  17.0   17.0     18.0   34.0
112  20.0   22.0     21.0   51.0
113  19.0   14.0     15.0   23.0

[114 rows x 4 columns]

In [25]:
normalizer=preprocessing.MinMaxScaler(feature_range=(0,3))
col_name=data.columns
d=normalizer.fit_transform(data)
normalized_data=pd.DataFrame(d,columns=col_name)
normalized_data

         food     decor  service     price
0    0.923077  2.307692   1.3125  1.666667
1    2.307692  2.307692   2.2500  2.388889
2    0.923077  1.730769   0.7500  1.166667
3    0.923077  0.807692   0.5625  0.500000
4    1.615385  1.153846   1.1250  0.777778
..        ...       ...      ...       ...
109  1.384615  2.192308   1.5000  1.611111
110  0.923077  1.384615   1.1250  1.055556
111  0.692308  1.730769   1.5000  1.277778
112  1.384615  2.307692   2.0625  2.222222
113  1.153846  1.384615   0.9375  0.666667

[114 rows x 4 columns]

## Boom!! 
we can observe that it is rescaled to range of 0 to 3 for all the columns in just one go.

## Conclusion 
As we have seen in the above tutorial that we can normalize data in the range of our choice with the help of MinMaxScaler() provided under sklearn. But it is always recommended to normalize data between zero to one.

So, That's all from this tutorial. See you next tutorial blog. Thank you!